<!DOCTYPE html>
<html>
extends ../includes/head
block head
    <script>455555555555</script>

<body>
    <div class="main-container container-fluid">
        // <!-- Page Container -->
        <div class="page-container">
            // <!-- Page Content -->
            <div class="page-content">
                // <!-- Page Body -->
                <div class="page-body">
                    // <!-- Your Content Goes Here -->
                </div>
                // <!-- /Page Body -->
            </div>
            // <!-- /Page Content -->
        </div>
        // <!-- /Page Container -->
    </div>
    // <!-- Main Container -->
</body>

</html>