<!DOCTYPE html>
<html>
@@include('head.html',{"head":"@@head"})

<body>
    @@include('navbar.html')
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            @@include('sidebar.html')
            <!-- Page Content -->
            <div class="page-content">
                @@include('breadcrumbs.html') @@include('header.html')
                <!-- Page Body -->
                <div class="page-body">
                    <!-- Your Content Goes Here -->
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
    </div>
    <!-- Main Container -->
    @@include('script.html',{"script":"@@script"})
</body>

</html>