extend ../layout
block content
	.container
		form.form-horizontal()
			.form-group.row
				label.col-sm-4.control-label(for="inputTitle") 电影名称
				.col-sm-6
					input#inputTitle.form-control(type="text",name="movie[title]")